<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Titulación Siug</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <!--Madeline Toala-->
          <a class="nav-link" routerLink="/planificacion-periodo" routerLinkActive="active" >Planificación del Periodo (Secretaria)</a>
        </li>
        <li class="nav-item">
          <!--Madeline Toala-->
          <a class="nav-link" routerLink="/cargar-propuestas" routerLinkActive="active">Cargar propuestas (Secretaria)</a>
        </li>
        <li class="nav-item">
          <!--Christopher Velez-->
          <a class="nav-link" routerLink="/creacion-comision" routerLinkActive="active">Creación de comisión de revisión (Gestor)</a>
        </li>
        <li class="nav-item">
          <!--Walter Duchi-->
          <a class="nav-link" routerLink="/asignacion-revisores" routerLinkActive="active">Asignación de Revisores (Coordinador)</a>
        </li>
        <li class="nav-item">
          <!--Narcisa Carrillo-->
          <a class="nav-link" routerLink="/registro-propuesta" routerLinkActive="active">Registro de propuestas (Revisor)</a>
        </li>
        <li class="nav-item">
          <!--Lindao Jos-->
          <a class="nav-link" routerLink="/correcion-estudiante" routerLinkActive="active">Revisar Correciones (Estudiante)</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
